.todocontainer{
  text-align: left;
}
h1{
  text-align: center;
}
.rup-b{
  width: 80px;
  
}
.rup-r{
  margin: 10px 5px;
  
}
input{
  width: 100%;
}
.Container{
border: 1px solid;
width: 50%;
min-width: 600px;
margin: 40px;
background-color: rgb(171, 184, 184);
border-radius:5px ;
}
.welcome{
  text-align: center;
  
}